{% extends 'base.html' %}
{% load static %}
{% block title %} Signup {% endblock %}

{% block content %}




 <!-- Videos Section -->
 <div class="videos">
 
    <div class="videos__container">
      <!-- Single Video starts -->


        <div id="intro" class="bg-image shadow-2-strong">
            <div class="h-100">
              <div class="container">
                <div class="row">
                  <div class="col-xl-12 col-md-12">
                      <form method="post" class="bg-white border shadow p-5 mb-3 bg-body rounded mt-4">
                        <h3 class="mb-3 text-center" style="font-family: 'Mochiy Pop P One', sans-serif;">Email Varification link has been sent !</h3>
                      <!-- Email input -->
                      {% csrf_token %}
                    
                    <div class="container text-center">
                        <a class="btn btn-primary" href="{% url 'login' %}" role="button">Back to login</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>


  </div>
</div>

<!-- Single Video Ends -->

</div>

{% endblock %}
