{% extends 'base.html' %}
{% load static %}
{% block title %} Change Password {% endblock %}

{% block content %}

  <div id="intro" class="bg-image shadow-2-strong mt-3" style="margin-bottom: 58px;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-md-8">
            <form method="post" class="bg-white border shadow p-4 mb-5 bg-body rounded mt-5">
                <h3 class="mb-5 text-center" style="font-family: 'Mochiy Pop P One', sans-serif;">Change Your Password</h3>
                <!-- Email input -->
              {% csrf_token %}
              <div class="form-outline mb-3">
                  <label class="form-label" for="form1Example1">Old Password</label>
                  {{form.old_password}}
              </div>
              <small class="text-danger">{{form.old_password.errors}}</small>
              <div class="form-outline mb-3">
                <label class="form-label" for="form1Example1">New Password</label>
                {{form.new_password1}}
            </div>
            
            <div class="form-outline mb-3">
                <label class="form-label" for="form1Example1">Confirm New Password</label>
                {{form.new_password2}}
            </div>
            <small class="text-danger">{{form.new_password2.errors}}</small>
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>        

  {% endblock %}

