{% extends 'base.html' %}
{% load static %}
{% block title %} Password Reset {% endblock %}

{% block content %}


 <!-- Videos Section -->
 <div class="videos">
 
    <div class="videos__container">
      <!-- Single Video starts -->


      




        <div id="intro" class="bg-image shadow-2-strong">
            <div class="h-100">
              <div class="container">
                <div class="row">
                  <div class="col-xl-12 col-md-12">
                      <form method="post" class="bg-white border shadow p-5 mb-3 bg-body rounded mt-4">
                        <h3 class="mb-3 text-center" style="font-family: 'Mochiy Pop P One', sans-serif;">Reset Your Password</h3>
                      <!-- Email input -->
                      {% csrf_token %}
                      <div class="form-outline mb-2">
                        <label class="form-label" for="form1Example1">New Password</label>
                        {{form.new_password1}}
                    </div>
                    
        
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example1">Confirm New Password</label>
                {{form.new_password2}}
                    </div>
                   
                    <small class="text-danger">{{form.new_password2.errors}}</small>

                 <!-- Submit button -->
                 <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>




     

  </div>
</div>

<!-- Single Video Ends -->

</div>







   

  {% endblock %}

