{% extends 'base.html' %}

{% block title %} Signup {% endblock %}

{% block content %}

 <!-- Videos Section -->
 <div class="videos">
 
    <div class="videos__container">
      <!-- Single Video starts -->


      




        <div id="intro" class="bg-image shadow-2-strong">
            <div class="h-100">
              <div class="container">
                <div class="row">
                  <div class="col-xl-12 col-md-12">
                      <form method="post" class="bg-white border shadow p-4 mb-3 bg-body rounded mt-4">
                        <h3 class="mb-3 text-center" style="font-family: 'Mochiy Pop P One', sans-serif;">Signup</h3>
                      <!-- Email input -->
                      {% csrf_token %}
                      <div class="form-outline mb-3">
                        <label class="form-label" for="form1Example1">Username</label>
                        {{form.username}}
                    </div>
                    <small class="text-danger">{{form.username.errors}}</small>
                      <div class="row mb-3 mt-2">
                        <div class="col">
                          <div class="form-outline">
                              <label class="form-label" for="form3Example1">First name</label>
                            {{form.first_name}}
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-outline">
                              <label class="form-label" for="form3Example2">Last name</label>
                            {{form.last_name}}
                          </div>
                        </div>
                      </div>
        
                      <div class="form-outline mb-3">
                        <label class="form-label" for="form1Example1">Email address</label>
                        {{form.email}}
                    </div>
                    <small class="text-danger">{{form.email.errors}}</small>
                      <!-- Password input -->
                      <div class="form-outline mb-3">
                          <label class="form-label" for="form1Example2">Password</label>
                        {{form.password1}}
                      </div>
                       <!-- Password input -->
                       <div class="form-outline mb-3">
                        <label class="form-label" for="form1Example2">Password Again</label>
                      {{form.password2}}
                    </div>
                    <small class="text-danger">
                        {{form.password2.errors}}
                    </small>
                      <!-- 2 column grid layout for inline styling -->
                      <div class="row mb-1">
                          <small class="mb-3">Already have an account ? <a class="text-decoration-none" href="{% url 'login' %}">Login</a></small>
                      </div>
        
                      <!-- Submit button -->
                      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>




     

  </div>
</div>

<!-- Single Video Ends -->

</div>





{% endblock %}